#background_image {
    background-image: url("../assets/LamborghiniImage.svg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position:fixed;
}

.container {
    padding-top: 13px;
}

#nav-link a {
    font-size: 21px;
    font-family: 'Roboto Regular';
    color: #625EF6;
    padding-left: 50px;
    padding-bottom: 0px;
    cursor: pointer;
}

#header_social_icon{
    display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center;
}

#facebook_icon {
    margin-right: 30px;
}